*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb (168, 121, 137);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
 width: 1200 px;
background:white;
 margin: 10 px auto;
}
.superior{
    background: #829ec2;
    overflow: hidden; 
}
.logo{
    float: left;
    width: 300 px;
    padding: 35 px;
}
/*estilos para el menú de opciones*/
.menú{
    float: left;
padding: 50 px;
}
.opciones li{
    float: left;
    list-style: none;
}
.opciones li a{
        color: white;
        padding: 25 px;
        text-decoration: none;
        border:1 px solid white;
    }
.opciones li a:hover{
    background: #5d8ece;
}
/*estilos para el cuerpo*/
.cuerpo{
    overflow: hidden;
}
.caja{
    float: left;
    width: 380 px;
    margin: 10 px;
}
.subtitulo{
    background: #829ec2;
}
.servicios{
    color: white;
   text-align: center; 
   padding: 15 px 0; 
}
.efecto:hover{
    opacity: 0.9;
    cursor: pointer;
}
.contenido{
   padding: 20 px;
    text-align: justify;
}
.boton{
     padding: 15 px 20 px;
     margin: 12 px 0;
     color: white;
     background-color: rgb (218, 141, 154);
     border-radius: 5 px;
}
.boton:hover{
    background: #829ec2;
    cursor: pointer;
}
.titulo{
    text-align: center;
    padding: 20 px 0 15 px 0;
    color: black;
}
/*estilos del footer*/ 
.pie{
    background: #829ec2;
    overflow: hidden;
}
.izquierda{
   float: left; 
   width: 550 px;
   padding: 15 px;
}
.derecha{
   float: left;
   width: 550 px; 
}
.siguenos{
    padding:15 px 0; 
